<p id="notice"><%= notice %></p>

<% if @friend.photo %>
  <p>
  <strong>Photo:</strong>
  <%= image_tag @friend.photo_url %>
  </p>
<% end %>


<p>
  <strong>First name:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @friend.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friend.status %>
</p>

<h2>
  Events
</h2>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date Attended</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
  <% @friend.events_descending.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.date_attended %></td>
      <td><%= event.note %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
