<p id="notice"><%= notice %></p>

<h1>Events</h1>

<form action="/events">
  <fieldset>
    <legend>Filters</legend>

    <label id="friend_id">Friend:</label>
    <select name="friend_id" id="friend_id">
      <option value="">All</option>
      <% @friends.each do |friend| %>
        <option value="<%= friend.id %>" <%= params[:friend_id] == friend.id.to_s ? 'selected' : '' %>><%= friend.name %></option>
      <% end %>
    </select>

    <button>
      Submit
    </button>
  </fieldset>
</form>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date Attended</th>
      <th>Note</th>
      <th>Friend Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.date_attended %></td>
        <td><%= event.note %></td>
        <td><%= event.friend.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
